<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<script th:inline="javascript">
	/*<![CDATA[*/
		var server = {
				contextPath: /*[[@{/}]]*/ '/'
		};
		if ('registerElement' in document && 'createShadowRoot' in HTMLElement.prototype && 'import' in document.createElement('link') && 'content' in document.createElement('template')) {
	    	// We're using a browser with native WC support!
	  	} else {
	    	document.write('<script src="' + server.contextPath + 'bower_components/webcomponentsjs/webcomponents-loader.js'><\/script>');
	  	};
	/*]]>*/
	</script>
	<meta name="context-path" th:content="@{/}"/>
	<title>Art Graphic</title>
    <link rel="import" th:href="@{/bower_components/polymer/polymer.html}" />
    <link rel="import" th:href="@{/app_components/e-app2/e-app.html}" />
    <base target="_parent"></base> <!-- Force link from iframe to be opened in the parent window -->
</head>
<body>
	<e-app></e-app>
</body>
</html>  